@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --basic-color: #23cc71;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: #EDEFDE;
}

.App {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', serif;
  overflow: hidden;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.App h2{
  color: #4D4D3D;
  margin-bottom: 10px;
}

.repo-container {
  overflow-y: scroll;
}

.list-all {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin: 20px;
  background-color: #fff;
  border-radius: 10px;
  width: 210px;
  height: 210px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  color: #4D4D3D;
}

.list img{
  margin-top: 10px;
}

.list p{
  margin: 10px 0px;
}

.container {
  padding: 10px 0px;
  margin: 0px 0px 10px 0px;
  background-color: #4D4D3D;
  color: #F0F0EB;
  width: 100%;
  text-align: center;
}

.container h1 {
  font-weight: 900;
}

.input{
  width: 300px;
  height: 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: none;
  text-align: center;
  margin-bottom: 10px;
  color: #4D4D3D;
}